
$nm-blue:					#002B49;
$nm-gold:					#FFB81C;

$cerulean-blue:				#00ABD3;
$denim-blue:				#336283;
$royal-blue:				#0068B3;
$foam-green:				#00B6AF;
$kelly-green:				#16B161;
$cinnamon-red:				#EC544A;
$pumpkin-orange:			#FF821C;


$nm-blue-pastel:			#D1D9DE;
$nm-gold-pastel:			#FFFDEB;
$cerulean-blue-pastel:		#E1F1F5;
$denim-blue-pastel:			#E4EDF2;
$royal-blue-pastel:			#EFF9FE;
$foam-green-pastel:			#E4F2F2;
$kelly-green-pastel:		#E9F7F0;
$cinnamon-red-pastel:		#FFF1F0;
$pumpkin-orange-pastel:		#FFF4EB;


$nm-blue-mute:				#001529;
$nm-gold-mute:				#996E11;
$cerulean-blue-mute:		#127C99;
$denim-blue-mute:			#23445B;
$royal-blue-mute:			#00487C;
$foam-green-mute:			#007F7A;
$kelly-green-mute:			#0F7B43;
$cinnamon-red-mute:			#A43A33;
$pumpkin-orange-mute:		#B34D00;


$true-white:				#FFFFFF;
$smoke-white:				#F1F1F1;
$silver-grey:				#E6E6E6;
$carbon-grey:				#9C9C9C;
$charcoal-grey:				#444444;
$sidewalk-grey:				#CCCCCC;
$true-black:				#000000;


$primary-color: $nm-blue;
$secondary-color: $cerulean-blue;

$success-color: $kelly-green;
$alert-color: $cinnamon-red;
$info-color: $royal-blue;
$warning-color: $pumpkin-orange;

$primary-pastel-color: $nm-blue-pastel;
$secondary-pastel-color: $cerulean-blue-pastel;
$success-pastel-color: $kelly-green-pastel;
$alert-pastel-color: $cinnamon-red-pastel;
$info-pastel-color: $royal-blue-pastel;
$warning-pastel-color: $pumpkin-orange-pastel;

$primary-mute-color: $nm-blue-mute;
$secondary-mute-color: $cerulean-blue-mute;
$success-mute-color: $kelly-green-mute;
$alert-mute-color: $cinnamon-red-mute;
$info-mute-color: $royal-blue-mute;
$warning-mute-color: $pumpkin-orange-mute;

$off-white: $smoke-white;
$light-grey: $silver-grey;
$medium-grey: $sidewalk-grey;
$dark-grey: $carbon-grey;
$off-black: $charcoal-grey;
